.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link-button:hover, .link-button:focus {
  text-decoration: none;
  }

  /* CSS Style */
.roomListComponent{
    box-sizing: border-box;
    /* padding: 10px; */
    border: 2px solid #00234B;
    overflow: scroll;
    height: 100%;
 }
 .roomListComponent ul{
     list-style-type: none;
     overflow: scroll;
  }
  
  .roomListComponent li{
     margin: 10px 0;
  }
 
  .roomListComponent h4{
     padding-top: 2px;
     color: #00234B;
  }
 
  .roomListComponent .room button{
     text-decoration: none;
     font-weight: bold;
  }
 
  .roomListComponent .room.active{
    color: yellow;
  }
 