a{
    color: #00234B;
    font-size: 20px;
    text-decoration-color: #00234B;
}

img{
    width: 100%;
    height: auto;
}
.homeButton{
    background: #FFF04A;
    padding: 10px 20px;
    font-size: 20px;
    /* color:white; */
    font-family: 'Lacquer', sans-serif;
    color: #00234B;
    margin: 10px 10px 10px 10px;
}

.homeButton:hover{
    background:#00234B;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    font-family: 'Lacquer', sans-serif;
    margin: 10px 10px 10px 10px;
}
.imageHeader{
    font-family: 'Tomorrow', sans-serif;
}

.space{
    margin-top: 50px;
}