.indexComponent {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr  1fr 1fr 1fr 1fr 60px;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: 
    "m m m m m r" 
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "s s s s s n";
}

.newRoomComponent{
    grid-area: n;
}

.roomListComponent{
    grid-area: r;
}

.messageListComponent{
    grid-area: m;
}

.sendMessageComponent{
    grid-area: s;
}

/* CSS Style */
.roomListComponent{
   box-sizing: border-box;
   padding: 10px;
   background-color: yellow;
   overflow: scroll;
   height: 100%;
}
.roomListComponent ul{
    list-style-type: none;
    overflow: scroll;
    padding: 0;
 }
 
 .roomListComponent li{
    margin: 10px 0;
 }

 .roomListComponent h4{
    margin: 5px 0;
    color: #00234B;

 }

 .roomListComponent .room button{
    text-decoration: none;
    font-weight: bold;
   color: #00234B;
 }

 .roomListComponent .room.active{
   color: yellow;
 }


 .newRoomComponent{
     padding: 0 5px;
     background-color: #00234B;
     color: yellow;
 }

 .newRoomComponent form{
    display: flex;
    justify-content: space-between;
    height: 100%;
}