.indexComponent {
    display: grid;
    font-family: 'Tomorrow', sans-serif;
    margin: 10px auto; 
    width: 800px;
    align-content: center;
    border: 2px solid #00234B;
    grid-template-rows: 1fr  1fr 1fr 1fr 60px;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    "m m m m r" 
    "m m m m r"
    "m m m m r"
    "m m m m r"
    "s s s s n";
}

.newRoomComponent{
    grid-area: n;
}

.roomListComponent{
    grid-area: r;
}

.messageListComponent{
    grid-area: m;
}

.sendMessageComponent{
    grid-area: s;
}